---
---
{{reference| replace_first: 'Bruineberg, J.P.', '<b>Bruineberg, J. P.</b>' }}

<div id="{{key}}-materials">
  <ul class="nav nav-pills">
    {% if entry.abstract %}
    <li><a data-toggle="collapse" href="#{{key}}-abstract">Abstract</a></li>
    {% endif %}

    {% if link %}
    <a href="{{link}}">Download</a>
    {% endif %}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    {% if entry.doi %}
    DOI: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a>
    {% endif %}
    {% if entry.note %}
    <a href="http://{{entry.note}}">Link</a>
    {% endif %}
  </ul>


</div>